@model weblog.Models.ViewModels.YazilarVM

<!-- Page Content -->
    <div class="container">

        <div class="row my-5">

            <!-- Blog Entries Column -->
            <div class="col-md-12 my-5">


                <div class="row mb-5">
                    <div class="col-lg-12">
                        <h3>@Model.Baslik</h3>
                    </div>

                    <div class="col-lg-12">
                        <table class="table table-light table-striped">
                            <tr>
                                <td>Kategori</td>
                                <td>@Model.KategoriAdi</td>
                            </tr>
                            <tr>
                                <td>Yazar Adı</td>
                                <td>@Model.YazarAdSoyad
                                </td>
                            </tr>
                            <tr>
                                <td>Eklenme Tarihi</td>
                                <td>@Model.EklenmeTarihi</td>
                            </tr>
                            <tr>
                                <td>Hit Sayısı</td>
                                <td>@Model.HitSayisi</td>
                            </tr>
                            <tr>
                                <td>Etiketler</td>
                                <td>@Model.Etiketler</td>
                            </tr>
                            <tr>
                                <td>İçerik</td>
                                <td>@Model.Icerik</td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>
